<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/Icon Ada.png" type="image/x-icon">
    <title>Cadastre-se</title>
</head>

<body>
    
    <div id="cadastro" class="cadastro">
        <h1 class="titulo1">Criar conta</h1>
        <p class="subtitulo">O melhor do cinema feminino</p>
    </div>

    <div id="imagem-canto" id="imagem-canto">
        <img src="img/Icon Ada.png">
    </div>

    <form action="{% url 'listagem_usuarios' %}" method="post"> #enviar

    <div id="input-nome" class="input-nome">
     <input name="nome" type="text" placeholder="Nome" required="required">
    </div>

    <div id="input-sobrenome" class="input-sobrenome">
        <input name="sobrenome" type="text" placeholder="Sobrenome" required="required">
    </div>

    <div id="input-email" class="input-email">
        <input name="email" type="email" placeholder="E-mail" required="required">
    </div>

    <div id="input-senha" class="input-senha">
        <input name="senha" type="password" placeholder="Senha" required="required">
        <p>A senha deve conter no minimo 8 caracteres</p>
    </div>

    <div id="botao-enviar" class="botao-enviar">
        <input type="submit" value="Enviar">
    </div>
</form>

</body>

</html>