<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/Icon Ada.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/style.css">
    <script src="https://kit.fontawesome.com/cb5b6e46d1.js" crossorigin="anonymous"></script>
    <title>Ada's Legacy</title>
    <meta name="description" content="Explore um mundo de entretenimento com o melhor do cinema e das séries voltado ao público feminino. Descubra as últimas novidades, assista aos trailers, leia resenhas e mergulhe em histórias emocionantes que vão cativar sua imaginação. ">
    <meta name="keywords" content="séries, series, filmes, animes, doramas, feminismo, mulheres, stream, trailers, resenhas">
    <meta name="author" content="Danielle, Kauane, Bárbara, Thaize">
</head>

<body>

    <header>
        <div>
            <img id="logoAda" src="static/img/Logo Ada.png">
            <i class="fa-solid fa-bars" style="color: #317160;"></i>
        </div>
    </header>
    
    <div id="banner">
        <video src="./static/img/background-video.mp4" autoplay loop></video>
        <div>
            <button>Faça Login</button>
            <button>Cadastre-se</button>
        </div>
    </div>

    <section id="planos">
            <div class="plano-container">
                <!-- <h1 class="titulo-planos">Escolha um dos nossos planos</h1> -->
                <div class="plano">
                    <p>Plano Beauvour</p>
                    <ul>
                        <li>Sem anúncio</li>
                        <li>Suporta um dispositivo</li>
                        <li>Qualidade máxima: 720HD</li>
                        <li><span>Assista offline</span></li>
                        <button>R$ 9,90</button>
                    </ul>
                </div>
                <div class="plano">
                    <p>Plano Davis</p>
                    <ul>
                        <li>Sem anúncio</li>
                        <li>Suporta três dispositivos</li>
                        <li>Qualidade máxima: 1080HD</li>
                        <li>Assista offline</li>
                        <button>R$ 16,50</button> 
                    </ul>
                </div>
                <div class="plano">
                        <p>Plano Lovelace</p>
                        <ul>
                            <li>Sem anúncio</li>
                            <li>Suporta seis dispositivos</li>
                            <li>Qualidade máxima: 4k</li>
                            <li>Assista offline</li> 
                            <button>R$ 29,90</button>
                        </ul>
                </div>
            </div>
        </section>

    <section id="carrossel-imagens">
        <!-- <h2 class="titulo-carrossel">Alguns dos filmes em catálogo</h2> -->
            <div class="filme">
                <div class="filme-img">
                    <img src="./static/img/adoraveis mulheres-carrossel.png">
                </div>
                <h3>Oito mulheres e um segredo</h3>
                    <p>Debbie Ocean, recém saída da prisão, procura sua ex-parceira Lou para realizar um elaborado assalto: roubar um colar de diamantes no valor de US$ 150 milhões. Para isso, Debbie e Lou reúnem uma equipe composta apenas por mulheres: Nine Ball, Amita, Constance, Rose e Tammy.</p>
            </div>
            <div class="filme">
                <div class="filme-img">
                    <img src="static/img/oito mulheres-carrossel.jpg">
                </div>
                <h3>Adoráveis mulheres</h3>
                <p>As irmãs Jo, Beth, Meg e Amy amadurecem na virada da adolescência para a vida adulta enquanto os Estados Unidos atravessam a Guerra Civil. Com personalidades completamente diferentes, elas enfrentam os desafios de crescer unidas pelo amor que nutrem umas pelas outras.</p>
            </div>
    </section>
    <section id="sobreNos">
        <div class="sobreNos-container">
            <h2 class="titulo-sobreNos">SOBRE NÓS</h2>
            <div id="green-line"></div>
            <p>
                Bem-vinda ao Ada's Legacy, o seu destino cinematográfico feito por mulheres e para mulheres. Nós, quatro garotas apaixonadas por filmes e séries, decidimos unir nossos talentos e criar um espaço onde o universo audiovisual se encontra com o poder feminino. Aqui, você encontrará um acervo diversificado de filmes e séries cuidadosamente selecionados, que abraçam a força, a sensibilidade e a diversidade feminina.
            </p>
            <p>
                Nosso objetivo é oferecer um refúgio para as mulheres explorarem histórias inspiradoras, personagens cativantes e narrativas que refletem a nossa diversidade. Ada's Legacy é uma homenagem à Ada Lovelace, uma pioneira no campo da computação e um símbolo de empoderamento feminino. Assim como Ada, buscamos deixar um legado de inclusão e representatividade através da arte.
            </p>
            <p> Aqui, você encontrará recomendações cuidadosamente elaboradas, análises perspicazes e entrevistas exclusivas com mulheres incríveis da indústria cinematográfica. Queremos proporcionar um espaço onde as vozes femininas são valorizadas e celebradas. Também incentivamos a participação ativa da nossa comunidade, pois acreditamos que juntas podemos construir um movimento inspirador.</p>
            <p>
                Então, junte-se a nós nesta jornada cinematográfica, onde cada filme e série tem o poder de desafiar, inspirar e entreter. Seja você uma cinéfila experiente ou uma exploradora em busca de novas histórias, o Ada's Legacy é o seu ponto de partida para descobrir a magia do cinema através da perspectiva feminina. Seja bem-vinda ao nosso legado!
            </p>
        </div>
    </section>

    <section id="dispositivos">
            <h2 class="titulo-dispositivos">DISPOSITIVOS SUPORTADOS</h2>
            <div class="dispositivos-container">
                <div>
                    <i class="fa-solid fa-mobile-button"></i>
                    <p>Celular</p>
                </div>
                <div>
                    <i class="fa-solid fa-tablet-screen-button"></i>
                    <p>Tablet</p>
                </div>
                <div>
                    <i class="fa-solid fa-laptop"></i>
                    <p>Computador</p>
                </div>
            </div>
    </section>

    <footer id="rodape">
        <div class="rodape-container">

            <div class="links">
                <li>
                    <ul><a href="#">Termos de condições de uso</a></ul>
                    <ul><a href="#">Políticas de privacidade</a></ul>
                    <ul><a href="#">Central de ajuda</a></ul>
                </li>
            </div>

             <div class="links">
                <li>
                    <ul><a href="#"><i class="fa-brands fa-linkedin"></i><span>Desenvolvedora 1</span></a></ul>
                    <ul><a href="#"><i class="fa-brands fa-linkedin"></i><span>Desenvolvedora 1</span></a></ul>
                    <ul><a href="#"><i class="fa-brands fa-linkedin"></i><span>Desenvolvedora 1</span></a></ul>
                    <ul><a href="#"><i class="fa-brands fa-linkedin"></i><span>Desenvolvedora 1</span></a></ul>
                </li>
             </div>

            <div class="links">
                <p>Siga nosso projeto: </p>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="copy">
            <i class="fa-regular fa-copyright"></i>
            <p>Ada's Legacy 2023</p>
        </div>     
    </footer>
</body>

</html>