<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/Icon Ada.png" type="image/x-icon">
    <link rel="stylesheet" href="../paginas/static/login.css">
    <title>Entrar</title>
</head>

<body>
    <form>
        <div class="container">
            <h1 id="tituloLogin">Você tem uma conta na Ada's Legacy?</h1>

            <div class="email">
                <input type="email" placeholder="Endereço de e-mail" required="required">
            </div>
        
            <div class="senha">
                <input type="password" placeholder="Senha" required>
            </div>
        
            <div class="botaoLogin">
                <button type="submit">Entrar</button>
            </div>

            <div class="recover">
                <p><a href="#" class="recuperar_senha">Esqueceu a senha?</a></p>
            <p>Ainda não é assinante?<a href="./cadastro.html" target="_blank"> Cadastre-se aqui</a></p>
            </div>
        </div>
    </form>
</body>

</html>