<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/Icon Ada.png" type="image/x-icon">
    <title>Entrar</title>
</head>

<body>
    <form>
    <h1 id="tituloLogin">Você tem uma conta na Ada's Legacy?</h1>

    <div class="email">
        <input type="email" placeholder="Endereço de e-mail" required="required">
    </div>

    <div class="senha">
        <input type="password" placeholder="Senha" required>
    </div>

    <div class="botaoLogin">
        <input type="submit" value="Entrar">

        <a href="#" class="recuperar_senha">Esqueceu a senha?</a>
    </div>

    <p>Ainda não é assinante?<a href="./cadastro-teste.html" target="_blank">Cadastre-se aqui</p></a>
    </form>
</body>

</html>